.chatPage {
  background-color: rgb(41, 41, 41);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chatContainer {
  background-color: white;
  width: 50%;
  height: 80%;
}

.header {
  background-color: #ffa500;
}

.chatBox {
  height: 80%;
  box-sizing: border-box;
}

.inputBox {
  height: 10%;
  border-top: 2px solid black;
  display: flex;
}

#chatInput {
  width: 80%;
  padding-left: 2vmax;
  border: none;
  box-sizing: border-box;
  outline: none;
}

.sendBtn {
  width: 21%;
  transition: all 0.4s;
}

.sendBtn:hover {
  background-color: rgb(255, 123, 0);
}

@media (max-width: 768px) {
  .chatContainer {
    background-color: white;
    width: 90%;
    height: 90%;
  }
  .inputBox {
    height: 11%;
  }

  #chatInput {
    width: 70%;
  }

  .sendBtn {
    width: 31%;
    transition: all 0.4s;
  }
}
